* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif; }

a:link {
  text-decoration: none; }

header #mainNav {
  width: 100%;
  height: 70px;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 3px solid #d4d4d4;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  header #mainNav .socialCont {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto; }
    header #mainNav .socialCont .socialICont {
      width: 35px;
      height: 35px;
      margin: 0px 5px;
      text-align: center;
      border: 5px solid #d4d4d4;
      border-radius: 50%;
      line-height: 37px;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
      header #mainNav .socialCont .socialICont:hover {
        background-color: #b10b0b;
        cursor: pointer; }
      header #mainNav .socialCont .socialICont:hover .socialI {
        color: white; }
      header #mainNav .socialCont .socialICont .socialI {
        font-size: 17px;
        color: #2f2f2f; }
  header #mainNav .naviCont ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header #mainNav .naviCont ul li {
      font-size: 23px;
      list-style-type: none;
      height: 70px;
      padding: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      color: #2f2f2f;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
      header #mainNav .naviCont ul li:hover {
        color: white;
        background-color: #b10b0b;
        cursor: pointer; }
    header #mainNav .naviCont ul .activeNav {
      color: white;
      background-color: #b10b0b;
      cursor: pointer; }

.mainHeader {
  height: calc(100vh - 73px);
  width: 100%;
  background-size: cover;
  opacity: 1;
  position: relative; }
  .mainHeader .logotypeCont {
    width: 70%;
    height: 140px;
    background-color: rgba(199, 200, 200, 0.3);
    position: absolute;
    top: 20%;
    left: 15%;
    border-radius: 5px; }
    .mainHeader .logotypeCont h2 {
      color: #1f1f1f;
      font-size: 60px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700; }
      .mainHeader .logotypeCont h2 span {
        color: #c60e0e; }
  .mainHeader .mainHeaderBG {
    background-color: red;
    width: 100%;
    height: 100%;
    background: url(../img/grafiki/ipc-header-nome-allproduct_new.jpg) no-repeat;
    background-size: cover;
    opacity: 0.4;
    -webkit-box-shadow: 0 5px 15px #5c5c5c;
            box-shadow: 0 5px 15px #5c5c5c; }
  .mainHeader .toOffer {
    position: absolute;
    bottom: 15%;
    left: calc(50% - 25px);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .mainHeader .toOffer:hover .arrCont {
      background-color: #c60e0e;
      border: 5px solid #c60e0e;
      cursor: pointer;
      opacity: 1; }
    .mainHeader .toOffer:focus {
      outline: none; }
    .mainHeader .toOffer .arrCont {
      color: white;
      height: 50px;
      width: 50px;
      border: 5px solid #b10b0b;
      background-color: #de1010;
      border-radius: 50%;
      position: absolute;
      left: calc(50% - 30px);
      bottom: -35px;
      z-index: 0;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      opacity: .9; }
      .mainHeader .toOffer .arrCont .fa-caret-down {
        font-size: 40px;
        padding: 5px;
        -webkit-animation: arrowDown 2s infinite;
                animation: arrowDown 2s infinite; }

.firma {
  min-height: 900px; }
  .firma .orderCont {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: block;
    height: 750px; }
    .firma .orderCont form select {
      width: 600px;
      height: 40px;
      margin: auto;
      display: block;
      border-radius: 10px;
      padding: 5px;
      border: 3px solid #c60e0e;
      background-color: #c60e0e;
      color: white;
      font-size: 20px;
      font-weight: 700;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .firma .orderCont form select:hover {
        cursor: pointer;
        background-color: #de1010; }
      .firma .orderCont form select:focus {
        outline: none; }
      .firma .orderCont form select option {
        background-color: #960b0b; }
    .firma .orderCont form label {
      text-align: left;
      display: block;
      width: 500px;
      margin: 20px auto 0px;
      font-weight: 700; }
    .firma .orderCont form input[type="text"] {
      width: 500px;
      display: block;
      margin: auto;
      border-radius: 10px;
      border: 1px solid #c60e0e;
      height: 40px;
      padding: 5px;
      font-size: 18px;
      -webkit-transition: .1s all;
      -o-transition: .1s all;
      transition: .1s all;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-box-shadow: 0 2px 4px #8d8d8d;
              box-shadow: 0 2px 4px #8d8d8d; }
      .firma .orderCont form input[type="text"]:hover {
        cursor: pointer;
        background-color: #fafafa; }
      .firma .orderCont form input[type="text"]:focus {
        outline: none;
        background-color: #fdfdfd;
        -webkit-box-shadow: 0px 2px 5px #606060;
                box-shadow: 0px 2px 5px #606060;
        cursor: text; }
    .firma .orderCont form input[type="email"] {
      width: 500px;
      display: block;
      margin: auto;
      border-radius: 10px;
      border: 1px solid #c60e0e;
      height: 40px;
      padding: 5px;
      font-size: 18px;
      -webkit-transition: .1s all;
      -o-transition: .1s all;
      transition: .1s all;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-box-shadow: 0 2px 4px #8d8d8d;
              box-shadow: 0 2px 4px #8d8d8d; }
      .firma .orderCont form input[type="email"]:hover {
        cursor: pointer;
        background-color: #fafafa; }
      .firma .orderCont form input[type="email"]:focus {
        outline: none;
        background-color: #fdfdfd;
        -webkit-box-shadow: 0px 2px 5px #606060;
                box-shadow: 0px 2px 5px #606060;
        cursor: text; }
    .firma .orderCont form textarea {
      min-width: 500px;
      min-height: 200px;
      max-width: 500px;
      max-height: 200px;
      display: block;
      margin: auto;
      border-radius: 10px;
      border: 1px solid #c60e0e;
      padding: 5px;
      font-size: 18px;
      -webkit-transition: .1s all;
      -o-transition: .1s all;
      transition: .1s all;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      resize: none;
      -webkit-box-shadow: 0 2px 4px #8d8d8d;
              box-shadow: 0 2px 4px #8d8d8d; }
      .firma .orderCont form textarea:hover {
        cursor: pointer;
        background-color: #fafafa; }
      .firma .orderCont form textarea:focus {
        outline: none;
        background-color: #fdfdfd;
        -webkit-box-shadow: 0px 2px 5px #606060;
                box-shadow: 0px 2px 5px #606060;
        cursor: text; }
    .firma .orderCont form input[type="submit"] {
      width: 200px;
      height: 40px;
      margin: 20px auto;
      display: block;
      font-size: 18px;
      text-align: center;
      border-radius: 10px;
      padding-bottom: 2px;
      font-weight: 700;
      border: 3px solid #b10b0b;
      background-color: #c60e0e;
      color: white; }
      .firma .orderCont form input[type="submit"]:hover {
        background-color: #d62727;
        border: 3px solid #c60e0e;
        cursor: pointer; }

.alert {
  height: 50px;
  width: 300px;
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 10px auto 0px;
  line-height: 50px;
  border-radius: 10px;
  -webkit-animation: alertMsg 5s forwards;
          animation: alertMsg 5s forwards; }

.alertUp {
  position: fixed;
  top: 20%;
  left: 0%;
  width: 250px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  z-index: 12; }

.yes {
  background-color: #13a813; }

.no {
  background-color: #c60e0e; }

.diamondPreCont {
  position: relative;
  height-min: 600px;
  max-width: 1200px;
  margin: auto; }

.diamondCont {
  padding-top: 150px; }
  .diamondCont .singleDiam {
    width: 100%;
    height: 250px;
    border-top: 3px solid #f3f3f3;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px; }
    .diamondCont .singleDiam .diamImg {
      height: 200px;
      width: 200px;
      background-color: white;
      -webkit-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
              transform: rotate(5deg);
      margin-left: 10%;
      -webkit-box-shadow: 0 0 15px black;
              box-shadow: 0 0 15px black;
      border-radius: 5px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    .diamondCont .singleDiam .diamTxt {
      width: 60%;
      margin-left: 10%;
      position: relative; }
      .diamondCont .singleDiam .diamTxt h3 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 25px;
        color: #2f2f2f; }
      .diamondCont .singleDiam .diamTxt p {
        text-align: center;
        color: #2f2f2f; }
      .diamondCont .singleDiam .diamTxt .costCont {
        position: absolute;
        right: 10%;
        bottom: 0%; }
        .diamondCont .singleDiam .diamTxt .costCont button {
          height: 40px;
          width: 150px;
          font-size: 18px;
          text-align: center;
          border-radius: 10px;
          padding-bottom: 2px;
          font-weight: 700;
          border: 3px solid #b10b0b;
          background-color: #c60e0e;
          color: white; }
          .diamondCont .singleDiam .diamTxt .costCont button:hover {
            background-color: #d62727;
            border: 3px solid #c60e0e;
            cursor: pointer; }
        .diamondCont .singleDiam .diamTxt .costCont .cost {
          margin-right: 20px;
          font-size: 25px;
          font-weight: 700;
          border-bottom: 2px solid #c60e0e; }

footer {
  height: 200px;
  width: 100%;
  background: #2e2e2e;
  -webkit-box-shadow: 0 -5px 15px #5c5c5c;
          box-shadow: 0 -5px 15px #5c5c5c; }
  footer .topFooter {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .topFooter .topFooterLeft {
      width: 33%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 5px; }
      footer .topFooter .topFooterLeft h2 {
        text-align: center;
        color: #555555;
        margin: 15px 0px 5px;
        font-size: 20px; }
      footer .topFooter .topFooterLeft .footI {
        height: 25px;
        width: 25px;
        background: #464646;
        border-radius: 50%;
        margin: 0px 15px -5px; }
      footer .topFooter .topFooterLeft .footerZap {
        color: #494949;
        margin-left: -5px; }
      footer .topFooter .topFooterLeft .singleZap {
        width: 100%;
        margin-bottom: 10px; }
    footer .topFooter .topFooterMid {
      width: 27%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 5px; }
      footer .topFooter .topFooterMid h2 {
        text-align: center;
        color: #555555;
        margin: 15px 0px 5px 10%;
        font-size: 20px;
        float: left; }
      footer .topFooter .topFooterMid .footIMid {
        color: #494949;
        margin: 20px 10px 5px; }
      footer .topFooter .topFooterMid ul {
        margin-left: 10px; }
        footer .topFooter .topFooterMid ul li {
          color: #494949;
          width: 90px;
          line-height: 22px;
          border-bottom: 1px solid #222222; }
          footer .topFooter .topFooterMid ul li:hover {
            color: #555555;
            cursor: pointer; }
    footer .topFooter .topFooterRight {
      width: 40%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 5px;
      border-left: 1px solid #343434; }
      footer .topFooter .topFooterRight h2 {
        text-align: center;
        color: #555555;
        margin: 15px 0px 5px;
        font-size: 20px; }
      footer .topFooter .topFooterRight p {
        color: #494949;
        text-align: center; }
  footer .botFooter {
    background: #262626;
    height: 50px;
    -webkit-box-shadow: 0 0px 15px #121212;
            box-shadow: 0 0px 15px #121212; }
    footer .botFooter p {
      color: #555555;
      text-align: center;
      line-height: 50px; }

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes arrowDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes alertMsg {
  0% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none !important; } }

@keyframes alertMsg {
  0% {
    opacity: 1; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none !important; } }
