$one: #d8c0c0;
$zero: #d62727;
$first: #c60e0e;
$second: #b10b0b;
$textCol: #2f2f2f;
$w00: #fafafa;
$w0: #f3f3f3;
$w05: #ebebeb;
$w1: #d4d4d4;
$w2: #b9b9b9;

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

header {

    #mainNav {
        width: 100%;
        height: 70px;
        background-color: $w0;
        display: flex;
        border-bottom: 3px solid $w1;
        box-shadow: 0px 1px 5px black;
        transition: all .2s;
        .socialCont {
            flex-grow: 2;
            display: flex;
            margin: auto;
            .socialICont {
                width: 35px;
                height: 35px;
                margin: 0px 5px;
                text-align: center;
                border: 5px solid $w1;
                border-radius: 50%;
                line-height: 37px;
                transition: all .2s;
                &:hover {
                    background-color: $second;
                    cursor: pointer;
                }
                &:hover .socialI {
                    color: white;
                }
                .socialI {
                    font-size: 17px;
                    color: $textCol;
                }
            }
        }
        .naviCont {
            ul {
                display: flex;
                justify-content: flex-end;
                li {
                    font-size: 23px;
                    list-style-type: none;
                    height: 70px;
                    padding: 20px;
                    box-sizing: border-box;
                    color: $textCol;
                    transition: all .2s;
                    &:hover {
                        color: white;
                        background-color: $second;
                        cursor: pointer;
                    }
                }
                .activeNav {
                    color: white;
                    background-color: $second;
                    cursor: pointer;
                }
            }
        }
    }
}

.mainHeader {
    height: calc(100vh - 73px);
    width: 100%;
    background-size: cover;
    opacity: 1;
    position: relative;

    .logotypeCont {
        width: 70%;
        height: 140px;
        background-color: rgba(199, 200, 200, 0.3);
        position: absolute;
        top: 20%;
        left: 15%;
        border-radius: 5px;
        h2 {
            color: #1f1f1f;
            font-size: 60px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            span {
                color: $first;
            }
        }
    }
    .mainHeaderBG {
        background-color: red;
        width: 100%;
        height: 100%;
        background: url(../img/apple.jpg) no-repeat;
        background-size: cover;
        opacity: 0.3;
    }
    .toOffer {
        position: absolute;
        bottom: 25%;
        left: calc(50% - 140px);
        width: 280px;
        height: 60px;
        border: 3px solid $second;
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $first;
        border-radius: 5px;
        color: white;
        padding-bottom: 20px;
        font-weight: 700;
        z-index: 1;
        transition: .2s;

        &:hover {
            background-color: $zero;
            border: 3px solid $first;
            cursor: pointer;
        }
        &:hover .arrCont {
            background-color: $zero;
            border: 5px solid $first;
        }
        &:focus {
            outline: none;
        }
        .arrCont {
            height: 50px;
            width: 50px;
            border: 5px solid $second;
            background-color: lighten($first, 5%);
            border-radius: 50%;
            position: absolute;
            left: calc(50% - 30px);
            bottom: -35px;
            z-index: 0;
            transition: .2s;
            .fa-caret-down {
                font-size: 40px;
                padding: 5px;
                animation: arrowDown 2s infinite;
            }
        }
    }
}

.cards {
    height: 100px;
    width: 100%;
    background-color: $w0;
    border-top: 3px solid $w1;
    border-bottom: 3px solid $w1;
    box-shadow: 0 0 5px black;

    .cardsCont {
        display: flex;

        .singleCardCont {
            height: 200px;
            width: 200px;
            margin: -50px auto;
            z-index: 5;
            background-color: $w00;
            border-radius: 15px;

            .singleCardTop {
                height: 70px;
                border-bottom: 1px solid $w2;
                width: 100%;
                margin: auto;
                background-color: $w05;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding-top: 10px;
                
                .cardI {
                    font-size: 20px;
                    color: $textCol;
                    height: 80%;
                    width: 90%;
                }
                .fa-location-arrow {
                    font-size: 45px;
                    padding: 5px 0px 0px 70px;
                    color: $textCol;
                }
                .fa-shower {
                    font-size: 50px;
                    padding: 5px 0px 0px 75px;
                    color: $textCol;
                }
                .fa-cogs {
                    font-size: 45px;
                    padding: 5px 0px 0px 70px;
                    color: $textCol;
                }
            }
            .singleCardBot {
                
                .singleCardBotText {
                    margin: 0px;
                    padding: 4px;
                    text-align: center;
                    font-size: 15px;
                    color: $textCol;
                    margin-top: 8px;
                }
                .singleCardBotText2 {
                    @extend .singleCardBotText;
                    margin-top: 10px;
                    border-top: 1px solid $w0;
                }
                .singleCardBotTextP {
                    font-size: 23px;
                    text-align: center;
                    color: $textCol;
                    padding: 3px;
                    font-weight: 700;
                    border-bottom: 1px solid $w0;
                }
                .singleCardBotTextP:first-child{
                    margin-top: 8px;
                }
                .singleCardBotTextP:last-child{
                    border-bottom: 0px solid $w0;
                }
                .singleCardBotTextPlace{
                    padding: 3px;
                    font-size: 15px;
                    text-align: center;
                    color: $textCol;
                    margin: 0px;
                }
                .singleCardBotTextPlace:first-child{
                    margin-top: 8px;
                }
            }
        }
        #card2 {
            margin: -100px 0px;
            height: 300px;
        }
        #card3 {
            margin-left: 20px;
        }
        #card1 {
            margin-right: 20px;
        }
    }
}

.firma {}

.diamondPreCont {
    position: relative;
    height-min: 600px;
    max-width: 1200px;
    margin: auto;
}

.diamondCont {
    padding-top: 150px;
    .singleDiam {
        width: 100%;
        height: 250px;
        border-top: 3px solid $w0;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        margin-bottom: 50px;
        .diamImg {
            height: 200px;
            width: 200px;
            background-color: $w1;
            transform: rotate(5deg);
            margin-left: 10%;
            box-shadow: 0 0 15px black;
            border-radius: 5px;
        }
        .diamTxt {
            width: 60%;
            margin-left: 10%;
            position: relative;
            h3 {
                text-align: center;
                margin-bottom: 20px;
                font-size: 25px;
                color: $textCol;
            }
            p {
                text-align: center;
                color: $textCol;
            }
            .costCont {
                position: absolute;
                right: 10%;
                bottom: 0%;

                button {
                    height: 40px;
                    width: 150px;
                    font-size: 18px;
                    text-align: center;
                    border-radius: 10px;
                    padding-bottom: 2px;
                    font-weight: 700;
                    border: 3px solid $second;
                    background-color: $first;
                    color: white;
                    &:hover {
                        background-color: $zero;
                        border: 3px solid $first;
                        cursor: pointer;
                    }
                }
                .cost {
                    margin-right: 20px;
                    font-size: 25px;
                    font-weight: 700;
                    border-bottom: 2px solid $first;
                }

            }

        }
    }
}

@keyframes arrowDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}
