$one: #d8c0c0;
$zero: #d62727;
$first: #c60e0e;
$second: #b10b0b;
$textCol: #2f2f2f;
$w00: #fafafa;
$w0: #f3f3f3;
$w05: #ebebeb;
$w1: #d4d4d4;
$w2: #b9b9b9;

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

a:link {
    text-decoration: none;
}

header {
    #mainNav {
        width: 100%;
        height: 70px;
        background-color: $w0;
        display: flex;
        border-bottom: 3px solid $w1;
        box-shadow: 0px 1px 5px black;
        transition: all .2s;
        .socialCont {
            flex-grow: 2;
            display: flex;
            margin: auto;
            .socialICont {
                width: 35px;
                height: 35px;
                margin: 0px 5px;
                text-align: center;
                border: 5px solid $w1;
                border-radius: 50%;
                line-height: 37px;
                transition: all .2s;
                &:hover {
                    background-color: $second;
                    cursor: pointer;
                }
                &:hover .socialI {
                    color: white;
                }
                .socialI {
                    font-size: 17px;
                    color: $textCol;
                }
            }
        }
        .naviCont {
            ul {
                display: flex;
                justify-content: flex-end;
                li {
                    font-size: 23px;
                    list-style-type: none;
                    height: 70px;
                    padding: 20px;
                    box-sizing: border-box;
                    color: $textCol;
                    transition: all .2s;
                    &:hover {
                        color: white;
                        background-color: $second;
                        cursor: pointer;
                    }
                }
                .activeNav {
                    color: white;
                    background-color: $second;
                    cursor: pointer;
                }
            }
        }
    }
}

.mainHeader {
    height: calc(100vh - 73px);
    width: 100%;
    background-size: cover;
    opacity: 1;
    position: relative;

    .logotypeCont {
        width: 70%;
        height: 140px;
        background-color: rgba(199, 200, 200, 0.3);
        position: absolute;
        top: 20%;
        left: 15%;
        border-radius: 5px;
        h2 {
            color: #1f1f1f;
            font-size: 60px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            span {
                color: $first;
            }
        }
    }
    .mainHeaderBG {
        background-color: red;
        width: 100%;
        height: 100%;
        background: url(../img/grafiki/ipc-header-nome-allproduct_new.jpg) no-repeat;
        background-size: cover;
        opacity: 0.4;
        box-shadow: 0 5px 15px #5c5c5c;
    }

    .toOffer {
        position: absolute;
        bottom: 15%;
        left: calc(50% - 25px);
        transition: .2s;
        &:hover .arrCont {
            background-color: $first;
            border: 5px solid $first;
            cursor: pointer;
            opacity: 1;
        }
        &:focus {
            outline: none;
        }
        .arrCont {
            color: white;
            height: 50px;
            width: 50px;
            border: 5px solid $second;
            background-color: lighten($first, 5%);
            border-radius: 50%;
            position: absolute;
            left: calc(50% - 30px);
            bottom: -35px;
            z-index: 0;
            transition: .2s;
            opacity: .9;
            .fa-caret-down {
                font-size: 40px;
                padding: 5px;
                animation: arrowDown 2s infinite;
            }
        }
    }
}
#shopCont{
    display: flex;
}
#cardOrderCont{
    display: block;
}
#orderForm{
    margin-top: 100px;
}
.firma {
    min-height: 900px;
    
    .orderCont {
        flex-wrap: wrap;
        display: block;
        height: 750px;
        width: 100%;
        form {

            select {
                width: 600px;
                height: 40px;
                margin: auto;
                display: block;
                border-radius: 10px;
                padding: 5px;
                border: 3px solid $first;
                background-color: $first;
                color: white;
                font-size: 20px;
                font-weight: 700;
                box-sizing: border-box;
                &:hover {
                    cursor: pointer;
                    background-color: lighten($first, 5%);
                }
                &:focus {
                    outline: none;
                }
                option {
                    background-color: darken($first, 10%);
                }
            }
            label {
                text-align: left;
                display: block;
                width: 500px;
                margin: 20px auto 0px;
                font-weight: 700;
            }
            input[type="text"] {
                width: 500px;
                display: block;
                margin: auto;
                border-radius: 10px;
                border: 1px solid $first;
                height: 40px;
                padding: 5px;
                font-size: 18px;
                transition: .1s all;
                box-sizing: border-box;
                box-shadow: 0 2px 4px #8d8d8d;

                &:hover {
                    cursor: pointer;
                    background-color: #fafafa;
                }
                &:focus {
                    outline: none;
                    background-color: #fdfdfd;
                    box-shadow: 0px 2px 5px #606060;
                    cursor: text;
                }
            }
            input[type="email"] {
                width: 500px;
                display: block;
                margin: auto;
                border-radius: 10px;
                border: 1px solid $first;
                height: 40px;
                padding: 5px;
                font-size: 18px;
                transition: .1s all;
                box-sizing: border-box;
                box-shadow: 0 2px 4px #8d8d8d;

                &:hover {
                    cursor: pointer;
                    background-color: #fafafa;
                }
                &:focus {
                    outline: none;
                    background-color: #fdfdfd;
                    box-shadow: 0px 2px 5px #606060;
                    cursor: text;
                }
            }
            textarea {
                min-width: 500px;
                min-height: 200px;
                max-width: 500px;
                max-height: 200px;
                display: block;
                margin: auto;
                border-radius: 10px;
                border: 1px solid $first;
                padding: 5px;
                font-size: 18px;
                transition: .1s all;
                box-sizing: border-box;
                resize: none;
                box-shadow: 0 2px 4px #8d8d8d;

                &:hover {
                    cursor: pointer;
                    background-color: #fafafa;
                }
                &:focus {
                    outline: none;
                    background-color: #fdfdfd;
                    box-shadow: 0px 2px 5px #606060;
                    cursor: text;
                }
            }
            input[type="submit"] {
                width: 200px;
                height: 40px;
                margin: 20px auto;
                display: block;
                font-size: 18px;
                text-align: center;
                border-radius: 10px;
                padding-bottom: 2px;
                font-weight: 700;
                border: 3px solid $second;
                background-color: $first;
                color: white;
                &:hover {
                    background-color: $zero;
                    border: 3px solid $first;
                    cursor: pointer;
                }
            }
        }
    }
}

.alert {
    height: 50px;
    width: 300px;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 10px auto 0px;
    line-height: 50px;
    border-radius: 10px;
    animation: alertMsg 5s forwards;
    display: none;
}

.alertUp {
    position: fixed;
    top: 20%;
    left: 0%;
    width: 250px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 12;
}

.yes {
    background-color: #13a813;
}

.no {
    background-color: $first;
}

.cardPreCont {
    border-top: 3px solid $w1;
    width: 80%;
    height: 410px;
    margin: 150px auto 0px;
    background-color: $w0;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #4e4e4e;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    .cartCont {
        padding: 5px;
        height: 350px;
        .emptyText{
            content: 'Powrót do sklepu';
            height: 25px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            text-shadow: 0 0 5px black;
            color: white
        }
        .cartLimit{
            height: 80%;
            overflow-y: scroll;
            border-bottom: 3px solid $first;
            padding: 10px;
            background-color: $w05;
        }
        p {
            text-align: center;
            color: $textCol;
            font-size: 20px;
        }
        .singlePrice {
            display: flex;
            padding-bottom: 10px;
            border-bottom: 1px solid $w1;
            margin: 10px 0px;
        }
        span {
            color: $textCol;
            font-size: 17px;
        }
        .singlePriceNo {
            font-weight: 700;
            font-size: 13px;
            min-width: 100px;
        }
        .singlePriceName {
            text-transform: uppercase;
            padding-left: 15px;
            width: 150px;
        }
        .singlePriceSpace {
            width: 100%;
        }
        .deleteBtn {
            button {
                width: 50px;
                height: 20px;
                background-color: $first;
                border: 2px solid red;
                border-radius: 5px;
                color: white;
                &:hover {
                    background-color: lighten($first, 10%);
                    cursor: pointer;
                }
            }
        }

        .basketLeft {
            font-size: 50px;
            color: $first;
            position: absolute;
            bottom: 5px;
            left: 10px;
            background-color: white;
            border-radius: 10px;
            width: 100px;
            height: 50px;
            line-height: 50px;
            padding-left: 5px;
            transition: .1s all linear;
            box-shadow: 0 2px 5px $w2;
            &:hover{
                background-color: $first;
                color: white;
                cursor: pointer;
            }
            &:after{
            content: 'Powrót do sklepu';
            height: 25px;
            widht: 170px;
            position: absolute;
            top: 0px;
            right: -150px;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 700;
            text-shadow: 0 0 5px black;
            color: white
        }
        }
        .fullCostRight {
            position: absolute;
            bottom: 5px;
            right: 10px;
            width: 150px;
            border-top: 1px solid $first;
            span{
                color: $textCol;
                font-size: 20px;
                font-weight: 700;
            }
            &:before{
            content: 'Koszt Całkowity';
            height: 10px;
            widht: 70px;
            position: absolute;
            top: -25px;
            right: 5px;
            text-transform: uppercase;
            font-weight: 700;
            text-shadow: 0 0 5px black;
            color: white
        }
        }
    }
}

.diamondPreCont {
    position: relative;
    height-min: 600px;
    max-width: 70%;
    margin: auto;
}

.categoryCont {
    max-height: 300px;
    min-width: 20%;
    margin: 150px auto 0px;
    background-color: $w0;
    border: 3px solid $w1;
    box-shadow: 0px 2px 5px #4e4e4e;
    .basketCont {
        height: 90px;
        width: 90px;
        margin: auto;
        padding-top: 10px;
        position: relative;
        &:hover .basketI {
            background-color: $w05;
            color: $first;
            cursor: pointer;
        }
        &:after{
            content: 'Koszyk';
            height: 10px;
            widht: 30px;
            position: absolute;
            top: 0px;
            left: 15px;
            text-transform: uppercase;
            font-weight: 700;
            text-shadow: 0 0 5px black;
            color: white
        }
        .basketI {
            height: 90px;
            font-size: 80px;
            margin: auto;
            display: block;
            width: 90px;
            color: white;
            background-color: $w1;
            border-radius: 50%;
            box-shadow: 0px 0px 7px $first;
            transition: .1s all linear;
        }
        .basketPlus{
            animation: shadowPlus .3s;
        }
    }
    h2 {
        text-align: center;
        margin-top: 10px;
        background-color: $w1;
        color: $textCol;
    }
    ul {
        list-style: none;
        text-align: left;
        padding: 15px;
        li {
            border-left: 3px solid $w1;
            padding: 5px;
            color: $textCol;
            font-size: 16px;
            transition: .1s all;
            &:hover {
                color: white;
                background-color: $second;
                cursor: pointer;
            }
        }
    }
}

.diamondCont {
    padding-top: 150px;
    .singleDiam {
        width: 100%;
        height: 250px;
        border-top: 3px solid $w0;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        margin-bottom: 50px;
        .diamImg {
            height: 200px;
            width: 200px;
            background-color: white;
            transform: rotate(5deg);
            margin-left: 10%;
            box-shadow: 0 0 15px black;
            border-radius: 5px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .diamTxt {
            width: 60%;
            margin-left: 10%;
            position: relative;
            h3 {
                text-align: center;
                margin-bottom: 20px;
                font-size: 25px;
                color: $textCol;
            }
            p {
                text-align: center;
                color: $textCol;
            }
            .costCont {
                position: absolute;
                right: 10%;
                bottom: 0%;

                button {
                    height: 50px;
                    width: 50px;
                    font-size: 28px;
                    text-align: center;
                    border-radius: 50%;
                    padding-bottom: 2px;
                    font-weight: 700;
                    border: 3px solid $second;
                    background-color: $first;
                    color: white;
                    &:hover {
                        background-color: $zero;
                        border: 3px solid $first;
                        cursor: pointer;
                    }
                }
                .cost {
                    margin-right: 20px;
                    font-size: 25px;
                    font-weight: 700;
                    border-bottom: 2px solid $first;
                }

            }
        }
    }
}

footer {
    height: 200px;
    width: 100%;
    background: #2e2e2e;
    box-shadow: 0 -5px 15px #5c5c5c;
    .topFooter {
        height: 150px;
        display: flex;
        .topFooterLeft {
            width: 33%;
            box-sizing: border-box;
            padding: 5px;
            h2 {
                text-align: center;
                color: lighten($textCol, 15%);
                margin: 15px 0px 5px;
                font-size: 20px;
            }
            .footI {
                height: 25px;
                width: 25px;
                background: #464646;
                border-radius: 50%;
                margin: 0px 15px -5px;
            }
            .footerZap {
                color: lighten($textCol, 10%);
                margin-left: -5px;
            }
            .singleZap {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .topFooterMid {
            width: 27%;
            box-sizing: border-box;
            padding: 5px;
            h2 {
                text-align: center;
                color: lighten($textCol, 15%);
                margin: 15px 0px 5px 10%;
                font-size: 20px;
                float: left;
            }
            .footIMid {
                color: lighten($textCol, 10%);
                margin: 20px 10px 5px;
            }
            ul {
                margin-left: 10px;
                li {
                    color: lighten($textCol, 10%);
                    width: 90px;
                    line-height: 22px;
                    border-bottom: 1px solid darken($textCol, 5%);
                    &:hover {
                        color: lighten($textCol, 15%);
                        cursor: pointer;
                    }
                }
            }
        }
        .topFooterRight {
            width: 40%;
            box-sizing: border-box;
            padding: 5px;
            border-left: 1px solid lighten($textCol, 2%);
            h2 {
                text-align: center;
                color: lighten($textCol, 15%);
                margin: 15px 0px 5px;
                font-size: 20px;
            }
            p {
                color: lighten($textCol, 10%);
                text-align: center;
            }
        }
    }
    .botFooter {
        background: #262626;
        height: 50px;
        box-shadow: 0 0px 15px #121212;
        p {
            color: lighten($textCol, 15%);
            text-align: center;
            line-height: 50px;
        }
    }
}

@keyframes arrowDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes alertMsg {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none !important;
    }
}
@keyframes shadowPlus {
    0%{
        box-shadow: 0px 0px 10px $first;
    }
    50%{
        box-shadow: 0px 0px 20px $first;
    }
    0%{
        box-shadow: 0px 0px 10px $first;
    }
}
